#cube {
    position: relative;
    background-color: var(--backgroundColor);
    fill: transparent;
    margin: 0 10%;
}

#leftEye, #rightEye, #mouth {
    stroke: var(--color);
    stroke-width: 6; 
    fill: transparent;
    filter: drop-shadow(0 0 3vh var(--color));
}

#mouth {
    stroke-width: 3.5;
}

.horisontal-line, .vertical-line {
    position: absolute;
    background-color: red;
    display: none;
}

.horisontal-line {
    width: 100%;
    height: 1px;
}

.vertical-line {
    top: 0;
    height: 100%;
    width: 1px;
}