:root {
    --color: yellow;
    --width: 35vh;
    --backgroundColor: black;
}

body {
    background-color: var(--backgroundColor);
    color: yellow;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

button {
    top: 40vw;
    position: relative;
}

#cube {
    width: var(--width);
    height: var(--width);
    background-color: var(--backgroundColor);
    position: absolute;
    top: 0;
}

#leftEye, #rightEye, #chin {
    position: absolute;
    stroke: var(--color);
    stroke-width: 20;
    fill: transparent;
    filter: drop-shadow(0 0 3vh var(--color));
}

#leftEye, #rightEye {
    width: calc(var(--width)*4/15);
    height: calc(var(--width)*8/15);
    top: calc(var(--width)*2/15);
}

#leftEye {
    left: calc(var(--width)*2/15 + 0.5vh/2);
}

#rightEye {
    right: calc(var(--width)*2/15 + 0.5vh/2);
}

#chin {
    width: var(--width);
    height: calc(var(--width)*5/15);
    top: calc(var(--width)*10/15);
    stroke-width: 15;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

main section {
    flex: 50%;
}

#user-in-out {
    background-color: red;
}

#user-output {
    background-color: rgb(134, 2, 134);
    height: 60%;
}

#user-input {
    background-color: purple;
    height: 15%;
}

#sucrose {
    background-color: yellow;
    color: black;
}

#sucrose-output {
    background-color: blue;
}

#menu {
    background-color: orange;
}

#menu span {
    display: none;
}

@media screen and (max-width: 1000px) {
    main {
        
    }
    main section {
        flex: 100%;
    }
    #user-in-out {
        order: 2;
        height: 40vh;
    } 
    #sucrose {
        height: 15vh;
    }
    #sucrose-output {
        height: 35vh;
    }
    #menu {
        height: 10vh;
        order: -1;
    }
    #menu span {
        display: block;
        font-size: 5rem;
        margin: 0 1rem;
    }
    #menu nav {
        display: none;
    }
}