:root {
    --width: 600px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--backgroundColor);
    color: var(--color);
    font-family: sans-serif;
}

button {
    top: 70vh;
    position: relative;
    z-index: 1;
}

#cube {
    position: relative;
    background-color: var(--backgroundColor);
    fill: transparent;
    margin: 0 10%;
}

#leftEye, #rightEye, #mouth {
    stroke: var(--color);
    stroke-width: 6; 
    fill: transparent;
    filter: drop-shadow(0 0 3vh var(--color));
}

#mouth {
    stroke-width: 3;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100dvh;
}

main section {
    flex: 50%;
}

#user-in-out {
    background-color: red;
}

#user-output {
    background-color: rgb(134, 2, 134);
    height: 60%;
}

#user-input {
    background-color: purple;
    height: 15%;
}

#sucrose {
    background-color: yellow;
    color: black;
}

#sucrose-output {
    background-color: blue;
}

#menu nav {
    display: block;
    background-color: black;
    height: 100%; 
    width: 100%;
    position: fixed;
    top: 0;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center; 
    stroke-width: 2;
    stroke: var(--color);
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    margin: auto;
    top: 15%;
    position: relative;
}

#menu {
    background-color: orange;
}

#menu-icon {
    display: none;
}

#menu-icon:checked ~ nav {
    display: block;
}

#menu-icon-container {
    display: none;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    margin: 2.5vh 3vh;
    position: relative;
    top: 0;
    z-index: 1;
}

.menu-icon-block {
    width: 100%;
    height: 15%;
    background-color: var(--color);
    border-radius: 0.4rem;
    position: absolute;
}

#menu-icon-block1 {
    top: 0%;
}

#menu-icon-block2 {
    top: 42.5%;
}

#menu-icon-block3 {
    top: 85%;
}

.main-navigation-button:hover {
    fill: var(--color);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    main section {
        flex: 100%;
    }
    #user-in-out {
        order: 2;
        height: 35%;
    } 
    #sucrose {
        height: 15%;
    }
    #sucrose-output {
        height: 40%;
    }
    #menu {
        height: 10%;
        order: -1;
    }
    #menu-icon-container {
        display: block;
    }
    #menu nav {
        display: none;
    }
    #cube {
        height: 15vh;
        width: 15vh;
    }
}

.horisontal-line, .vertical-line {
    position: absolute;
    background-color: red;
    display: none;
}

.horisontal-line {
    width: 100%;
    height: 1px;
}

.vertical-line {
    top: 0;
    height: 100%;
    width: 1px;
}