main {
    min-height: 0;
}

#addProject {
    margin-top: 2rem;
}

.project {
    border: 0.15rem solid yellow;
    border-radius: 0.3rem;
    margin: 2rem;
    cursor: pointer;
}
.project h2 {
    margin: 1rem;
    font-size: 1rem;
}

.progressBar {
    background-color: gray;
    height: 0.3rem;
    margin: 0 0 0 1rem;
    border-radius: 0.2rem;
    display: flex;
    width: 100%;
}

.progressContainer span {
    margin: 0 1rem;
}

#progress1 {
    background-color: yellow;
    height: 0.3rem;
    border-radius: 0.2rem;
    width: 20%;
}

.progressContainer {
    display: flex;
    align-items: center;
}

.taskRow {
    margin: 1rem;
}

