main {
    min-height: 0;
}

#addProject {
    margin-top: 2rem;
}

.project {
    border: 0.15rem solid yellow;
    border-radius: 0.3rem;
    margin: 2rem;
    cursor: pointer;
}
.projectTitle {
    margin: 1rem;
    font-size: 1.2rem;
}

.progressBar {
    background-color: gray;
    height: 0.3rem;
    margin: 0 0 0 1rem;
    border-radius: 0.2rem;
    display: flex;
    width: 100%;
}

.progressFill {
    background-color: yellow;
    height: 0.3rem;
    border-radius: 0.2rem;
}

.progressText {
    margin: 0 1rem;
}

.progressContainer {
    display: flex;
    align-items: center;
}

.nextTaskContainer {
    margin: 1rem;
    margin-top: 0.6rem;
}

.nextTaskHeader {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1rem;
}

.nextTaskLabel {
    font-size: 1rem;
}
